{
  "extends": "eslint-config-airbnb",
  "rules": {
    "no-boolean-literal-compare": true,
    "import-name": false,
    "no-console": "off",
    "camelcase": 0,
    "class-methods-use-this": "off",
    "react/jsx-closing-tag-location": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "ecmaFeatures": {
    "jsx": false
  },
  "env": {
    "browser": true
  }
}